In [1]:
list1 = [1, 'abc', 2, 3, 1+4] 
print(list1)

[1, 'abc', 2, 3, 5]

In [3]:
list1.append(10)
list1

[1, 'abc', 2, 3, 5, 10, 10]

In [4]:
list1.extend(['new','items'])
list1

[1, 'abc', 2, 3, 5, 10, 10, 'new', 'items']

In [5]:
list1.pop()

'items'

In [9]:
#insert at specific index
list1.insert(8,9)

In [7]:
list1

[1, 'abc', 2, 3, 5, 10, 10, 'new', 9]

In [8]:
list1.count(10)

2

In [11]:
for x in range(len(list1)):
    print(list1[x])

1
abc
2
3
5
10
10
new
9
9

In [12]:
#list unpacking
list2 = ["good", "evening"]
ele1,ele2 = list2
print(ele1)
print(ele2)

good
evening

In [20]:
#tuple
tuple1 = ('python','bootcamp')
tup1,tup2 = tuple1
print(tup1, tup2)
print(type(tuple1))

python bootcamp
<class 'tuple'>

In [28]:
import timeit
timeit.timeit('num_tuple=(1,2,3)',number=100000)
timeit.timeit('num_list=[1,2,3]',number=100000)

0.0057729899999685585

In [7]:
dict1 = {'name':'Ranjitha', 'gender':"female", 'age': 30}
dict1

{'name': 'Ranjitha', 'gender': 'female', 'age': 30}

In [32]:
for key,value in enumerate(dict1):
    print(key, value, dict1[value])

0 name Ranjitha
1 gender female
2 age 30

In [8]:
dict1['name']

'Ranjitha'

In [37]:
dict1.values()

dict_values(['Ranjitha', 'female', 30])

In [42]:
for key,ele in dict1.items():
    print(key,ele)

name Ranjitha
gender female
age 30

In [43]:
dict1['gender']

'female'

In [6]:
#list comprehension 
list_1 = [1,2,3,4,5]
comprehension_list = [ele for ele in list_1 if ele % 2 == 0]

print("result :", comprehension_list)

result : [2, 4]

In [45]:
#dictionary comprehension
dict_1 = {'name':'Ranjitha'}

In [46]:
if 'Python' in ['Java', 'C++', 'Cloud', 'Python']:       
    print('Inside outer if statement')     

    if 10 > 20:                          
        print('greater than condition true')       

    print('Hello everyone')  

    if 10 < 20:                           
        print('less than condition true')       

    print('Bye')      
print('End statement')

Inside outer if statement
Hello everyone
less than condition true
Bye
End statement

In [47]:
#input from user
input_num = int(input("Please enter number:"))
sum = 0
num = 1

while num <= input_num:
    sum = sum + num
    num+=1   
    print(sum)

print(f"sum is: {sum}")

Please enter number:5
1
3
6
10
15
sum is: 15

In [48]:
languages = ['R', 'Python',  'Scala', 'Java', 'C++']

for index in range(len(languages)):
    print(f' {languages[index]} ')

 R
 Python
 Scala
 Java
 C++

In [49]:
#Functions
def user_defined():
    print('Inside function')
    
user_defined()

Inside function

In [51]:
def user_defined_arg(num):
    if(num > 5):
        print('Number is greater than 5')
    else:
        print('Number is less than 5')
        
user_defined_arg(1)

Number is less than 5

In [53]:
name = 'Ranjitha'
f'welsome {name}'

'welsome Ranjitha'

In [56]:
gol_var = 10
def my_fun():
    gol_var = 30
    print(gol_var)
my_fun()
print(f'outseide {gol_var}')

30
outseide 10

In [10]:
#SETS
set1 = {1, 2, 4, 5}
set2 = {3, 4, 5, 8}
print(set1)
print(set2)

{1, 2, 4, 5}
{8, 3, 4, 5}

In [12]:
set1.add(6)
set2.add(9)
print(set1)
print(set2)

{1, 2, 4, 5, 6}
{3, 4, 5, 8, 9}

In [13]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [14]:
set1.intersection(set2)

{4, 5}

In [16]:
#dictionary
dict2 = {"name": "Dumsi","gender":"Female", "age": 30}
comprehension_list = [ele for ele in list_1 if ele % 2 == 0]
a = 4
b = 9
count_list = [1,2,3,a,5,6,7,8,b,10]
count_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#Dictionary comprehension
compr_dist = {key:value for (key,value) in dict2.items() if value == "Dumsi"}
compr_dist

{'name': 'Dumsi'}